<aside>
	<div class="panel radius">
		<h3>Hear me tweet</h3>
		<a class="twitter-timeline" href="https://twitter.com/DanySK86" data-widget-id="665653243415027712">Tweets by @DanySK86</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

	<div class="border-dotted radius b30">
		<center>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Responsive-Github -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-7021299614858405"
			     data-ad-slot="5455319205"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</center>
	</div>

</aside>
